In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set(style="darkgrid")
data = pd.read_csv('F500.csv')

np_data = np.array(data)

print(np_data)

[['619"']
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 ['011"']
 ['761"']
 [nan]
 [nan]
 [nan]
 ['516"']
 ['182"']
 [nan]
 [nan]
 [nan]
 ['394"']
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 ['612"']
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]]

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Разделение данных происходит благодаря параметру delimiter. Следует указать разделитель между данными. 
# Чтобы узнать тип разделителя данных, посмотри файл csv в jupyter. Чаще всего это ; или ,
# Данные загружаются по умолчанию в формате float. Измени данные на str с помощью параметра dtype
np_data = np.loadtxt('goldprices2.csv', delimiter=';', skiprows = 1, dtype = int, usecols = (0,2))
np_date = np.loadtxt('goldprices2.csv', delimiter=';', skiprows = 1, dtype = str, usecols = 1)
#np_array = np.array(int(np_data))

print(np_data.shape)
print(np_data)
print(np_date)

(817, 2)
[[   1   34]
 [   2   34]
 [   3   34]
 ...
 [ 815 1265]
 [ 816 1332]
 [ 817 1333]]
['01.02.1950' '01.03.1950' '01.04.1950' '01.05.1950' '01.06.1950'
 '01.07.1950' '01.08.1950' '01.09.1950' '01.10.1950' '01.11.1950'
 '01.12.1950' '01.01.1951' '01.02.1951' '01.03.1951' '01.04.1951'
 '01.05.1951' '01.06.1951' '01.07.1951' '01.08.1951' '01.09.1951'
 '01.10.1951' '01.11.1951' '01.12.1951' '01.01.1952' '01.02.1952'
 '01.03.1952' '01.04.1952' '01.05.1952' '01.06.1952' '01.07.1952'
 '01.08.1952' '01.09.1952' '01.10.1952' '01.11.1952' '01.12.1952'
 '01.01.1953' '01.02.1953' '01.03.1953' '01.04.1953' '01.05.1953'
 '01.06.1953' '01.07.1953' '01.08.1953' '01.09.1953' '01.10.1953'
 '01.11.1953' '01.12.1953' '01.01.1954' '01.02.1954' '01.03.1954'
 '01.04.1954' '01.05.1954' '01.06.1954' '01.07.1954' '01.08.1954'
 '01.09.1954' '01.10.1954' '01.11.1954' '01.12.1954' '01.01.1955'
 '01.02.1955' '01.03.1955' '01.04.1955' '01.05.1955' '01.06.1955'
 '01.07.1955' '01.08.1955' '01.09.1955' '01.10.1955' '01.11.1955'
 '01.12.1955' '01.01.1956' '01.02.1956' '01.03.1956' '01.04.1956'
 '01.05.1956' '01.06.1956' '01.07.1956' '01.08.1956' '01.09.1956'
 '01.10.1956' '01.11.1956' '01.12.1956' '01.01.1957' '01.02.1957'
 '01.03.1957' '01.04.1957' '01.05.1957' '01.06.1957' '01.07.1957'
 '01.08.1957' '01.09.1957' '01.10.1957' '01.11.1957' '01.12.1957'
 '01.01.1958' '01.02.1958' '01.03.1958' '01.04.1958' '01.05.1958'
 '01.06.1958' '01.07.1958' '01.08.1958' '01.09.1958' '01.10.1958'
 '01.11.1958' '01.12.1958' '01.01.1959' '01.02.1959' '01.03.1959'
 '01.04.1959' '01.05.1959' '01.06.1959' '01.07.1959' '01.08.1959'
 '01.09.1959' '01.10.1959' '01.11.1959' '01.12.1959' '01.01.1960'
 '01.02.1960' '01.03.1960' '01.04.1960' '01.05.1960' '01.06.1960'
 '01.07.1960' '01.08.1960' '01.09.1960' '01.10.1960' '01.11.1960'
 '01.12.1960' '01.01.1961' '01.02.1961' '01.03.1961' '01.04.1961'
 '01.05.1961' '01.06.1961' '01.07.1961' '01.08.1961' '01.09.1961'
 '01.10.1961' '01.11.1961' '01.12.1961' '01.01.1962' '01.02.1962'
 '01.03.1962' '01.04.1962' '01.05.1962' '01.06.1962' '01.07.1962'
 '01.08.1962' '01.09.1962' '01.10.1962' '01.11.1962' '01.12.1962'
 '01.01.1963' '01.02.1963' '01.03.1963' '01.04.1963' '01.05.1963'
 '01.06.1963' '01.07.1963' '01.08.1963' '01.09.1963' '01.10.1963'
 '01.11.1963' '01.12.1963' '01.01.1964' '01.02.1964' '01.03.1964'
 '01.04.1964' '01.05.1964' '01.06.1964' '01.07.1964' '01.08.1964'
 '01.09.1964' '01.10.1964' '01.11.1964' '01.12.1964' '01.01.1965'
 '01.02.1965' '01.03.1965' '01.04.1965' '01.05.1965' '01.06.1965'
 '01.07.1965' '01.08.1965' '01.09.1965' '01.10.1965' '01.11.1965'
 '01.12.1965' '01.01.1966' '01.02.1966' '01.03.1966' '01.04.1966'
 '01.05.1966' '01.06.1966' '01.07.1966' '01.08.1966' '01.09.1966'
 '01.10.1966' '01.11.1966' '01.12.1966' '01.01.1967' '01.02.1967'
 '01.03.1967' '01.04.1967' '01.05.1967' '01.06.1967' '01.07.1967'
 '01.08.1967' '01.09.1967' '01.10.1967' '01.11.1967' '01.12.1967'
 '01.01.1968' '01.02.1968' '01.03.1968' '01.04.1968' '01.05.1968'
 '01.06.1968' '01.07.1968' '01.08.1968' '01.09.1968' '01.10.1968'
 '01.11.1968' '01.12.1968' '01.01.1969' '01.02.1969' '01.03.1969'
 '01.04.1969' '01.05.1969' '01.06.1969' '01.07.1969' '01.08.1969'
 '01.09.1969' '01.10.1969' '01.11.1969' '01.12.1969' '01.01.1970'
 '01.02.1970' '01.03.1970' '01.04.1970' '01.05.1970' '01.06.1970'
 '01.07.1970' '01.08.1970' '01.09.1970' '01.10.1970' '01.11.1970'
 '01.12.1970' '01.01.1971' '01.02.1971' '01.03.1971' '01.04.1971'
 '01.05.1971' '01.06.1971' '01.07.1971' '01.08.1971' '01.09.1971'
 '01.10.1971' '01.11.1971' '01.12.1971' '01.01.1972' '01.02.1972'
 '01.03.1972' '01.04.1972' '01.05.1972' '01.06.1972' '01.07.1972'
 '01.08.1972' '01.09.1972' '01.10.1972' '01.11.1972' '01.12.1972'
 '01.01.1973' '01.02.1973' '01.03.1973' '01.04.1973' '01.05.1973'
 '01.06.1973' '01.07.1973' '01.08.1973' '01.09.1973' '01.10.1973'
 '01.11.1973' '01.12.1973' '01.01.1974' '01.02.1974' '01.03.1974'
 '01.04.1974' '01.05.1974' '01.06.1974' '01.07.1974' '01.08.1974'
 '01.09.1974' '01.10.1974' '01.11.1974' '01.12.1974' '01.01.1975'
 '01.02.1975' '01.03.1975' '01.04.1975' '01.05.1975' '01.06.1975'
 '01.07.1975' '01.08.1975' '01.09.1975' '01.10.1975' '01.11.1975'
 '01.12.1975' '01.01.1976' '01.02.1976' '01.03.1976' '01.04.1976'
 '01.05.1976' '01.06.1976' '01.07.1976' '01.08.1976' '01.09.1976'
 '01.10.1976' '01.11.1976' '01.12.1976' '01.01.1977' '01.02.1977'
 '01.03.1977' '01.04.1977' '01.05.1977' '01.06.1977' '01.07.1977'
 '01.08.1977' '01.09.1977' '01.10.1977' '01.11.1977' '01.12.1977'
 '01.01.1978' '01.02.1978' '01.03.1978' '01.04.1978' '01.05.1978'
 '01.06.1978' '01.07.1978' '01.08.1978' '01.09.1978' '01.10.1978'
 '01.11.1978' '01.12.1978' '01.01.1979' '01.02.1979' '01.03.1979'
 '01.04.1979' '01.05.1979' '01.06.1979' '01.07.1979' '01.08.1979'
 '01.09.1979' '01.10.1979' '01.11.1979' '01.12.1979' '01.01.1980'
 '01.02.1980' '01.03.1980' '01.04.1980' '01.05.1980' '01.06.1980'
 '01.07.1980' '01.08.1980' '01.09.1980' '01.10.1980' '01.11.1980'
 '01.12.1980' '01.01.1981' '01.02.1981' '01.03.1981' '01.04.1981'
 '01.05.1981' '01.06.1981' '01.07.1981' '01.08.1981' '01.09.1981'
 '01.10.1981' '01.11.1981' '01.12.1981' '01.01.1982' '01.02.1982'
 '01.03.1982' '01.04.1982' '01.05.1982' '01.06.1982' '01.07.1982'
 '01.08.1982' '01.09.1982' '01.10.1982' '01.11.1982' '01.12.1982'
 '01.01.1983' '01.02.1983' '01.03.1983' '01.04.1983' '01.05.1983'
 '01.06.1983' '01.07.1983' '01.08.1983' '01.09.1983' '01.10.1983'
 '01.11.1983' '01.12.1983' '01.01.1984' '01.02.1984' '01.03.1984'
 '01.04.1984' '01.05.1984' '01.06.1984' '01.07.1984' '01.08.1984'
 '01.09.1984' '01.10.1984' '01.11.1984' '01.12.1984' '01.01.1985'
 '01.02.1985' '01.03.1985' '01.04.1985' '01.05.1985' '01.06.1985'
 '01.07.1985' '01.08.1985' '01.09.1985' '01.10.1985' '01.11.1985'
 '01.12.1985' '01.01.1986' '01.02.1986' '01.03.1986' '01.04.1986'
 '01.05.1986' '01.06.1986' '01.07.1986' '01.08.1986' '01.09.1986'
 '01.10.1986' '01.11.1986' '01.12.1986' '01.01.1987' '01.02.1987'
 '01.03.1987' '01.04.1987' '01.05.1987' '01.06.1987' '01.07.1987'
 '01.08.1987' '01.09.1987' '01.10.1987' '01.11.1987' '01.12.1987'
 '01.01.1988' '01.02.1988' '01.03.1988' '01.04.1988' '01.05.1988'
 '01.06.1988' '01.07.1988' '01.08.1988' '01.09.1988' '01.10.1988'
 '01.11.1988' '01.12.1988' '01.01.1989' '01.02.1989' '01.03.1989'
 '01.04.1989' '01.05.1989' '01.06.1989' '01.07.1989' '01.08.1989'
 '01.09.1989' '01.10.1989' '01.11.1989' '01.12.1989' '01.01.1990'
 '01.02.1990' '01.03.1990' '01.04.1990' '01.05.1990' '01.06.1990'
 '01.07.1990' '01.08.1990' '01.09.1990' '01.10.1990' '01.11.1990'
 '01.12.1990' '01.01.1991' '01.02.1991' '01.03.1991' '01.04.1991'
 '01.05.1991' '01.06.1991' '01.07.1991' '01.08.1991' '01.09.1991'
 '01.10.1991' '01.11.1991' '01.12.1991' '01.01.1992' '01.02.1992'
 '01.03.1992' '01.04.1992' '01.05.1992' '01.06.1992' '01.07.1992'
 '01.08.1992' '01.09.1992' '01.10.1992' '01.11.1992' '01.12.1992'
 '01.01.1993' '01.02.1993' '01.03.1993' '01.04.1993' '01.05.1993'
 '01.06.1993' '01.07.1993' '01.08.1993' '01.09.1993' '01.10.1993'
 '01.11.1993' '01.12.1993' '01.01.1994' '01.02.1994' '01.03.1994'
 '01.04.1994' '01.05.1994' '01.06.1994' '01.07.1994' '01.08.1994'
 '01.09.1994' '01.10.1994' '01.11.1994' '01.12.1994' '01.01.1995'
 '01.02.1995' '01.03.1995' '01.04.1995' '01.05.1995' '01.06.1995'
 '01.07.1995' '01.08.1995' '01.09.1995' '01.10.1995' '01.11.1995'
 '01.12.1995' '01.01.1996' '01.02.1996' '01.03.1996' '01.04.1996'
 '01.05.1996' '01.06.1996' '01.07.1996' '01.08.1996' '01.09.1996'
 '01.10.1996' '01.11.1996' '01.12.1996' '01.01.1997' '01.02.1997'
 '01.03.1997' '01.04.1997' '01.05.1997' '01.06.1997' '01.07.1997'
 '01.08.1997' '01.09.1997' '01.10.1997' '01.11.1997' '01.12.1997'
 '01.01.1998' '01.02.1998' '01.03.1998' '01.04.1998' '01.05.1998'
 '01.06.1998' '01.07.1998' '01.08.1998' '01.09.1998' '01.10.1998'
 '01.11.1998' '01.12.1998' '01.01.1999' '01.02.1999' '01.03.1999'
 '01.04.1999' '01.05.1999' '01.06.1999' '01.07.1999' '01.08.1999'
 '01.09.1999' '01.10.1999' '01.11.1999' '01.12.1999' '01.01.2000'
 '01.02.2000' '01.03.2000' '01.04.2000' '01.05.2000' '01.06.2000'
 '01.07.2000' '01.08.2000' '01.09.2000' '01.10.2000' '01.11.2000'
 '01.12.2000' '01.01.2001' '01.02.2001' '01.03.2001' '01.04.2001'
 '01.05.2001' '01.06.2001' '01.07.2001' '01.08.2001' '01.09.2001'
 '01.10.2001' '01.11.2001' '01.12.2001' '01.01.2002' '01.02.2002'
 '01.03.2002' '01.04.2002' '01.05.2002' '01.06.2002' '01.07.2002'
 '01.08.2002' '01.09.2002' '01.10.2002' '01.11.2002' '01.12.2002'
 '01.01.2003' '01.02.2003' '01.03.2003' '01.04.2003' '01.05.2003'
 '01.06.2003' '01.07.2003' '01.08.2003' '01.09.2003' '01.10.2003'
 '01.11.2003' '01.12.2003' '01.01.2004' '01.02.2004' '01.03.2004'
 '01.04.2004' '01.05.2004' '01.06.2004' '01.07.2004' '01.08.2004'
 '01.09.2004' '01.10.2004' '01.11.2004' '01.12.2004' '01.01.2005'
 '01.02.2005' '01.03.2005' '01.04.2005' '01.05.2005' '01.06.2005'
 '01.07.2005' '01.08.2005' '01.09.2005' '01.10.2005' '01.11.2005'
 '01.12.2005' '01.01.2006' '01.02.2006' '01.03.2006' '01.04.2006'
 '01.05.2006' '01.06.2006' '01.07.2006' '01.08.2006' '01.09.2006'
 '01.10.2006' '01.11.2006' '01.12.2006' '01.01.2007' '01.02.2007'
 '01.03.2007' '01.04.2007' '01.05.2007' '01.06.2007' '01.07.2007'
 '01.08.2007' '01.09.2007' '01.10.2007' '01.11.2007' '01.12.2007'
 '01.01.2008' '01.02.2008' '01.03.2008' '01.04.2008' '01.05.2008'
 '01.06.2008' '01.07.2008' '01.08.2008' '01.09.2008' '01.10.2008'
 '01.11.2008' '01.12.2008' '01.01.2009' '01.02.2009' '01.03.2009'
 '01.04.2009' '01.05.2009' '01.06.2009' '01.07.2009' '01.08.2009'
 '01.09.2009' '01.10.2009' '01.11.2009' '01.12.2009' '01.01.2010'
 '01.02.2010' '01.03.2010' '01.04.2010' '01.05.2010' '01.06.2010'
 '01.07.2010' '01.08.2010' '01.09.2010' '01.10.2010' '01.11.2010'
 '01.12.2010' '01.01.2011' '01.02.2011' '01.03.2011' '01.04.2011'
 '01.05.2011' '01.06.2011' '01.07.2011' '01.08.2011' '01.09.2011'
 '01.10.2011' '01.11.2011' '01.12.2011' '01.01.2012' '01.02.2012'
 '01.03.2012' '01.04.2012' '01.05.2012' '01.06.2012' '01.07.2012'
 '01.08.2012' '01.09.2012' '01.10.2012' '01.11.2012' '01.12.2012'
 '01.01.2013' '01.02.2013' '01.03.2013' '01.04.2013' '01.05.2013'
 '01.06.2013' '01.07.2013' '01.08.2013' '01.09.2013' '01.10.2013'
 '01.11.2013' '01.12.2013' '01.01.2014' '01.02.2014' '01.03.2014'
 '01.04.2014' '01.05.2014' '01.06.2014' '01.07.2014' '01.08.2014'
 '01.09.2014' '01.10.2014' '01.11.2014' '01.12.2014' '01.01.2015'
 '01.02.2015' '01.03.2015' '01.04.2015' '01.05.2015' '01.06.2015'
 '01.07.2015' '01.08.2015' '01.09.2015' '01.10.2015' '01.11.2015'
 '01.12.2015' '01.01.2016' '01.02.2016' '01.03.2016' '01.04.2016'
 '01.05.2016' '01.06.2016' '01.07.2016' '01.08.2016' '01.09.2016'
 '01.10.2016' '01.11.2016' '01.12.2016' '01.01.2017' '01.02.2017'
 '01.03.2017' '01.04.2017' '01.05.2017' '01.06.2017' '01.07.2017'
 '01.08.2017' '01.09.2017' '01.10.2017' '01.11.2017' '01.12.2017'
 '01.01.2018' '01.02.2018']

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

np_revenue = np.loadtxt('F5002.csv', delimiter = ";", skiprows = 1, dtype = int, usecols = (-6, -1))

print(np_revenue.shape)
print(np_revenue)

(500, 2)
[[485873 218619]
 [223604 411035]
 [215639 753718]
 [205004 340056]
 [192487  31439]
 [184840 157793]
 [177526  81310]
 [166380  52968]
 [163786 255679]
 [151800  46349]
 [146850  19229]
 [135987 423031]
 [126661 259520]
 [125980 198900]
 [121546  25725]
 [118719  73606]
 [117351  89645]
 [115337  26961]
 [107567 203263]
 [107162   3011]
 [105486 313761]
 [100288  39567]
 [ 94595 176368]
 [ 94571 107546]
 [ 94176 278516]
 [ 93662 236182]
 [ 90272 579426]
 [ 85320 508935]
 [ 84863  43813]
 [ 82386 165394]
 [ 80403 178258]
 [ 79919 164251]
 [ 76132      0]
 [ 72396  40954]
 [ 71890 337642]
 [ 71726 229700]
 [ 70166  29746]
 [ 69495  30502]
 [ 65665   1612]
 [ 65017  70481]
 [ 64806      0]
 [ 63476  57429]
 [ 63155  44859]
 [ 62799 159763]
 [ 62346  26274]
 [ 60906  93276]
 [ 59387 170539]
 [ 58779  45912]
 [ 58734      0]
 [ 57244  89957]
 [ 55858  26679]
 [ 55632 179298]
 [ 54379  29743]
 [ 52824 203725]
 [ 52367  61154]
 [ 50658  77557]
 [ 50367  28048]
 [ 50365  52178]
 [ 50123  39288]
 [ 49247 169266]
 [ 48238  30231]
 [ 48158  77460]
 [ 44747  32966]
 [ 41863 182153]
 [ 40787      0]
 [ 40721  12271]
 [ 40180  21326]
 [ 40074      0]
 [ 39807 174454]
 [ 39668  37604]
 [ 39639  33586]
 [ 39403  15193]
 [ 39302  94991]
 [ 38537  54402]
 [ 38308      0]
 [ 37949  79947]
 [ 37788      0]
 [ 37712  91380]
 [ 37504  21292]
 [ 37105      0]
 [ 37047 183556]
 [ 36881  22028]
 [ 36556  22225]
 [ 36534  29754]
 [ 34274      0]
 [ 33823  71193]
 [ 33184  51053]
 [ 32376  92204]
 [ 31360  33309]
 [ 31353  56791]
 [ 30737   4473]
 [ 30390  88788]
 [ 30347      0]
 [ 30109 114338]
 [ 29318  75660]
 [ 29003 100595]
 [ 28799      0]
 [ 27638 410522]
 [ 27625  33689]
 [ 27519  41831]
 [ 27326  59949]
 [ 27131      0]
 [ 27016   2535]
 [ 26685 175349]
 [ 26644  34648]
 [ 26487 110528]
 [ 26235   3569]
 [ 26219   5898]
 [ 25923  65676]
 [ 25778   9046]
 [ 25638 103838]
 [ 24622 106150]
 [ 24594  69451]
 [ 24508  41577]
 [ 24360  61692]
 [ 24069  44664]
 [ 24005   9515]
 [ 23825   6546]
 [ 23554  84694]
 [ 23441  22760]
 [ 23369  57397]
 [ 23022  58522]
 [ 22991 120830]
 [ 22919   6207]
 [ 22744  87201]
 [ 22559  29053]
 [ 22138   1231]
 [ 21987  19182]
 [ 21609   4268]
 [ 21374   1010]
 [ 21316  85092]
 [ 21222  92803]
 [ 21079  20884]
 [ 21070   1777]
 [ 20853  76740]
 [ 20719  18540]
 [ 20718  12762]
 [ 20425  33076]
 [ 20268  38614]
 [ 20217   5723]
 [ 20182   9127]
 [ 20143   4001]
 [ 19941  85911]
 [ 19912  59359]
 [ 19896  49335]
 [ 19654   6938]
 [ 19427  89591]
 [ 19337 138513]
 [ 19037   7353]
 [ 18686   6862]
 [ 18558   9726]
 [ 18353   5270]
 [ 18300  17795]
 [ 18274  59964]
 [ 18202  46828]
 [ 17782   2601]
 [ 17666  33696]
 [ 17529   1033]
 [ 17509  25397]
 [ 17470  12883]
 [ 17411   5528]
 [ 17126   7462]
 [ 17072  36124]
 [ 17033  23604]
 [ 16563  33998]
 [ 16423  58455]
 [ 16380  33009]
 [ 16348   7989]
 [ 16208  19051]
 [ 16155  60099]
 [ 16105   2464]
 [ 15920   2431]
 [ 15887  42662]
 [ 15833  11081]
 [ 15789  19310]
 [ 15724   9468]
 [ 15683  48913]
 [ 15516   9712]
 [ 15417  20219]
 [ 15340  13712]
 [ 15197  13227]
 [ 15195  64715]
 [ 15178  26970]
 [ 15158   9070]
 [ 15122  27810]
 [ 15095  29547]
 [ 15082 206242]
 [ 14757   7770]
 [ 14755    708]
 [ 14706  13029]
 [ 14619   5338]
 [ 14416   9081]
 [ 14386  28405]
 [ 14287   7371]
 [ 14237   6212]
 [ 14156  14118]
 [ 14134  17557]
 [ 14062   4469]
 [ 13982   9197]
 [ 13788  12851]
 [ 13609  32216]
 [ 13599  45791]
 [ 13585   2402]
 [ 13502  49644]
 [ 13487  36226]
 [ 13370  80531]
 [ 13330  14760]
 [ 13264  22787]
 [ 13233      0]
 [ 13211  38078]
 [ 13153  36356]
 [ 13144  10958]
 [ 13105  15747]
 [ 13072  11753]
 [ 13058  48533]
 [ 13014  25417]
 [ 12994  23775]
 [ 12919      0]
 [ 12867  25814]
 [ 12574  13426]
 [ 12547   1901]
 [ 12513      0]
 [ 12503  89862]
 [ 12488  18503]
 [ 12483  39041]
 [ 12399  31972]
 [ 12394  18143]
 [ 12394  11604]
 [ 12351   5911]
 [ 12207  22786]
 [ 12197  21886]
 [ 12157  12438]
 [ 12104   5931]
 [ 12075  23708]
 [ 11869  25938]
 [ 11856  28891]
 [ 11742   2686]
 [ 11737  48732]
 [ 11735  19953]
 [ 11668  45963]
 [ 11663  19276]
 [ 11584  14224]
 [ 11572  13461]
 [ 11540      0]
 [ 11538  36141]
 [ 11522   8169]
 [ 11507   1445]
 [ 11449  59046]
 [ 11410  45313]
 [ 11407  20280]
 [ 11361  21370]
 [ 11325  49115]
 [ 11262  31068]
 [ 11229  96802]
 [ 11155  62225]
 [ 11107  22546]
 [ 11069  43126]
 [ 11047  10749]
 [ 10964   6693]
 [ 10950  12002]
 [ 10888   1584]
 [ 10875   9355]
 [ 10846  13685]
 [ 10842  51650]
 [ 10825  42005]
 [ 10782   7191]
 [ 10776 121234]
 [ 10743  87522]
 [ 10647   9101]
 [ 10636  20540]
 [ 10635  30406]
 [ 10630  18317]
 [ 10597  12859]
 [ 10536   5048]
 [ 10534  33834]
 [ 10508  12022]
 [ 10497  26255]
 [ 10398  48444]
 [ 10261   5893]
 [ 10183  27692]
 [ 10163  28106]
 [ 10137  13668]
 [ 10074   9032]
 [  9888  32515]
 [  9841  25444]
 [  9835   9437]
 [  9732    900]
 [  9723   2114]
 [  9657   5880]
 [  9642  14696]
 [  9633   2706]
 [  9568  10944]
 [  9554  10600]
 [  9524  29438]
 [  9523  18316]
 [  9480   1456]
 [  9455  15733]
 [  9390  25030]
 [  9388  21312]
 [  9318   6337]
 [  9241  26178]
 [  9169      0]
 [  9161  27175]
 [  9082   9021]
 [  9071   8895]
 [  9061  13000]
 [  9061   3645]
 [  9061  22451]
 [  9008  11783]
 [  8979  36232]
 [  8959  17025]
 [  8921  11684]
 [  8896   2521]
 [  8831  63619]
 [  8829      0]
 [  8777      0]
 [  8774  18901]
 [  8678   2156]
 [  8659   2528]
 [  8613   5830]
 [  8608   2282]
 [  8599   3390]
 [  8593  24730]
 [  8573      0]
 [  8470   2187]
 [  8392  58362]
 [  8386  34046]
 [  8379  17518]
 [  8369   2056]
 [  8355   6219]
 [  8327    813]
 [  8319   7559]
 [  8284   7367]
 [  8240    663]
 [  8203   8092]
 [  8172  20638]
 [  8111   2416]
 [  8074   4293]
 [  7961  17423]
 [  7922   5489]
 [  7902  25451]
 [  7899      0]
 [  7872   5394]
 [  7869  34640]
 [  7847   9648]
 [  7811  15263]
 [  7777   8425]
 [  7766   9818]
 [  7743   3812]
 [  7735   1313]
 [  7710   1786]
 [  7684  24571]
 [  7669   7466]
 [  7654   8561]
 [  7651   5386]
 [  7651  56302]
 [  7644  54555]
 [  7639  18627]
 [  7625   2626]
 [  7552   3756]
 [  7532   5298]
 [  7528  11882]
 [  7527  13849]
 [  7524   8296]
 [  7517  25448]
 [  7515  13501]
 [  7499  24436]
 [  7472  19134]
 [  7440  23236]
 [  7411   4783]
 [  7405   6710]
 [  7357  10888]
 [  7336   3389]
 [  7274   2616]
 [  7251  15183]
 [  7227    711]
 [  7163  10242]
 [  7138  13925]
 [  7106   9746]
 [  7068   9265]
 [  7043   7696]
 [  7016      0]
 [  7000  45390]
 [  6995    830]
 [  6934  10389]
 [  6912      0]
 [  6910  64160]
 [  6896    846]
 [  6889  19066]
 [  6878  18999]
 [  6804   5043]
 [  6794  12502]
 [  6793   6900]
 [  6787   3992]
 [  6784    120]
 [  6780   8960]
 [  6778   8432]
 [  6775      0]
 [  6752  10453]
 [  6716   3989]
 [  6702   3316]
 [  6691  11743]
 [  6632   6875]
 [  6632      0]
 [  6618  23823]
 [  6608  37487]
 [  6556  10212]
 [  6548  31775]
 [  6543   5620]
 [  6528   1271]
 [  6498   8303]
 [  6497  11306]
 [  6489   6256]
 [  6481   3016]
 [  6477   4291]
 [  6440  17997]
 [  6418   1645]
 [  6403   3869]
 [  6399  12528]
 [  6385      0]
 [  6367   1669]
 [  6366  22611]
 [  6304   4400]
 [  6286  21897]
 [  6279   5118]
 [  6274    330]
 [  6175   4813]
 [  6131   9476]
 [  6098  10208]
 [  6087   7157]
 [  6076  13245]
 [  6063   7733]
 [  6038  14131]
 [  6004      0]
 [  5997  10626]
 [  5967  17512]
 [  5958  35530]
 [  5931  11407]
 [  5901   5382]
 [  5886  20903]
 [  5883   2263]
 [  5880  20024]
 [  5854  64375]
 [  5853   1933]
 [  5841   3250]
 [  5835   7851]
 [  5826   2783]
 [  5810   4173]
 [  5786  51921]
 [  5779   8631]
 [  5763  17597]
 [  5762  10561]
 [  5761  17294]
 [  5733    408]
 [  5722  23792]
 [  5704   8646]
 [  5686   8543]
 [  5677   6910]
 [  5661  33805]
 [  5612  13623]
 [  5599   8829]
 [  5595  10148]
 [  5591   6836]
 [  5576   4332]
 [  5568  18986]
 [  5555   4393]
 [  5551   5444]
 [  5546  11339]
 [  5520  10958]
 [  5511    241]
 [  5505  24741]
 [  5488  13794]
 [  5486   1458]
 [  5457   8770]
 [  5451   3158]
 [  5449  11911]
 [  5435  53732]
 [  5423   9691]
 [  5422  19238]
 [  5414   1504]
 [  5406   5307]
 [  5400   7080]
 [  5398      0]
 [  5389  12643]
 [  5387   1038]
 [  5379   4881]
 [  5369    568]
 [  5354  19547]
 [  5314      0]
 [  5277    836]
 [  5276  13055]
 [  5259  12711]
 [  5250   6240]
 [  5236      0]
 [  5200   2180]
 [  5197   4229]
 [  5170   5872]
 [  5169  44391]
 [  5164   6968]
 [  5145   2428]]

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

np_employee = np.loadtxt('F500.csv', delimiter = ";", skiprows = 1, dtype = float, usecols = 3)


print(np_employee.shape)
print(np_employee)

ValueError: could not convert string to float: '"2,300,000"'

In [23]:
import pandas as pd

# параметр index_col=0 в pd.read_csv убирает автоматические индексы, начинающиеся с нуля. 
# Если же индекс нужен и нужно, чтобы он начинался с одного, а не с 0, то добавь index_col = 1
# Так выглядит всё таки лучше, если в таблице уже есть рейтинг:
# fortune = pd.read_csv('F500.csv', delimiter = ";", index_col = 1)

fortune = pd.read_csv('F500.csv', delimiter = ";", index_col = 1)

#to print out dataframe use double square name_of_the_Panda_csv_file[['first column', 'second', 'so on']]

#print(fortune[['name', 'employees',"revenues","profits","marketvalue"]])

print(fortune.loc[:,['name', 'employees', 'revenues', 'profits','marketvalue']])

                                    name  employees  revenues     profits  \
rank
1                                Walmart  2,300,000  $485,873  $13,643.0
2                     Berkshire Hathaway    367,700  $223,604  $24,074.0
3                                  Apple    116,000  $215,639  $45,687.0
4                            Exxon Mobil     72,700  $205,004   $7,840.0
5                               McKesson     68,000  $192,487   $2,258.0
6                     UnitedHealth Group    230,000  $184,840   $7,017.0
7                             CVS Health    204,000  $177,526   $5,317.0
8                         General Motors    225,000  $166,380   $9,427.0
9                                   AT&T    268,540  $163,786  $12,976.0
10                            Ford Motor    201,000  $151,800   $4,596.0
11                     AmerisourceBergen     18,500  $146,850   $1,427.9
12                            Amazon.com    341,400  $135,987   $2,371.0
13                      General Electric    295,000  $126,661   $8,831.0
14                               Verizon    160,900  $125,980  $13,127.0
15                       Cardinal Health     37,300  $121,546   $1,427.0
16                                Costco    172,000  $118,719   $2,350.0
17              Walgreens Boots Alliance    300,000  $117,351   $4,173.0
18                                Kroger    443,000  $115,337   $1,975.0
19                               Chevron     55,200  $107,567    -$497.0
20                            Fannie Mae      7,000  $107,162  $12,313.0
21                     J.P. Morgan Chase    243,355  $105,486  $24,733.0
22               Express Scripts Holding     25,600  $100,288   $3,404.4
23                            Home Depot    406,000   $94,595   $7,957.0
24                                Boeing    150,540   $94,571   $4,895.0
25                           Wells Fargo    269,100   $94,176  $21,938.0
26                 Bank of America Corp.    208,024   $93,662  $17,906.0
27                              Alphabet     72,053   $90,272  $19,478.0
28                             Microsoft    114,000   $85,320  $16,798.0
29                                Anthem     53,000   $84,863   $2,469.8
30                             Citigroup    219,000   $82,386  $14,912.0
...                                  ...        ...       ...         ...
471                               Fiserv     23,000    $5,505     $930.0
472                Host Hotels & Resorts    220,000    $5,488     $762.0
473                  Insight Enterprises      5,930    $5,486      $84.7
474                               Mattel     32,000    $5,457     $318.0
475           AmTrust Financial Services      8,000    $5,451     $411.0
476                 Cincinnati Financial      4,754    $5,449     $590.7
477                 Simon Property Group      4,050    $5,435   $1,838.9
478                        Western Union     10,700    $5,423     $253.2
479                              KeyCorp     15,700    $5,422     $791.0
480                    Delek US Holdings      1,326    $5,414    -$153.7
481          Booz Allen Hamilton Holding     22,600    $5,406     $294.1
482                             Chemours      7,000    $5,400       $7.0
483   Western & Southern Financial Group      2,178    $5,398     $241.2
484                             Celanese      7,293    $5,389     $900.0
485                  Windstream Holdings     11,870    $5,387    -$383.5
486                             Seaboard     11,781    $5,379     $312.0
487                            Essendant      6,600    $5,369      $63.9
488                               Apache      3,727    $5,354  -$1,405.0
489                               Airgas     17,000    $5,314     $337.5
490                       Kelly Services      7,500    $5,277     $120.8
491                        Liberty Media      3,626    $5,276     $680.0
492                     Rockwell Collins     19,000    $5,259     $728.0
493            Robert Half International     16,400    $5,250     $343.4
494                            CH2M Hill     20,000    $5,236      $15.0
495                             Big Lots     23,150    $5,200     $152.8
496                        Michaels Cos.     31,000    $5,197     $378.2
497                        Toll Brothers      4,200    $5,170     $382.1
498                                Yahoo      8,500    $5,169    -$214.3
499                        Vistra Energy      4,431    $5,164           -
500                       ABM Industries    110,000    $5,145      $57.2

     marketvalue
rank
1       $218,619
2       $411,035
3       $753,718
4       $340,056
5        $31,439
6       $157,793
7        $81,310
8        $52,968
9       $255,679
10       $46,349
11       $19,229
12      $423,031
13      $259,520
14      $198,900
15       $25,725
16       $73,606
17       $89,645
18       $26,961
19      $203,263
20        $3,011
21      $313,761
22       $39,567
23      $176,368
24      $107,546
25      $278,516
26      $236,182
27      $579,426
28      $508,935
29       $43,813
30      $165,394
...          ...
471      $24,741
472      $13,794
473       $1,458
474       $8,770
475       $3,158
476      $11,911
477      $53,732
478       $9,691
479      $19,238
480       $1,504
481       $5,307
482       $7,080
483            -
484      $12,643
485       $1,038
486       $4,881
487         $568
488      $19,547
489            -
490         $836
491      $13,055
492      $12,711
493       $6,240
494            -
495       $2,180
496       $4,229
497       $5,872
498      $44,391
499       $6,968
500       $2,428

[500 rows x 5 columns]

In [7]:
pd_data = pd.read_csv('F500.csv')
pd_data.head()

                                                                                                                         id;"rank";"name";"employees";"previousrank";"revenues";"revenuechange";"profits";"profitschange";"assets";"marketvalue"
2;"1";"Walmart";"2              300            000";"1";"$485    873";"0.8%";"$13       643.0 ";"-7.2%";"$198 825";"$218                                               619"
3;"2";"Berkshire Hathaway";"367 700";"4";"$223 604";"6.1%";"$24  074.0 ";"0.0%";"$620   854";"$411            035"                                                      NaN
4;"3";"Apple";"116              000";"3";"$215 639";"-7.7%";"$45 687.0 ";"-14.4%";"$321 686";"$753            718"                                                      NaN
5;"4";"Exxon Mobil";"72         700";"2";"$205 004";"-16.7%";"$7 840.0 ";"-51.5%";"$330 314";"$340            056"                                                      NaN
6;"5";"McKesson";"68            000";"5";"$192 487";"6.2%";"$2   258.0 ";"53.0%";"$56   563";"$31             439"                                                      NaN

In [38]:
import pandas as pd

# параметр index_col=0 в pd.read_csv убирает автоматические индексы, начинающиеся с нуля. 
# Если же индекс нужен и нужно, чтобы он начинался с одного, а не с 0, то добавь index_col = 1
# Так выглядит всё таки лучше, если в таблице уже есть рейтинг:
# fortune = pd.read_csv('F500.csv', delimiter = ";", index_col = 1)

fortune = pd.read_csv('F5002.csv', delimiter = ";", index_col = 0)

#to print out dataframe use double square name_of_the_Panda_csv_file[['first column', 'second', 'so on']]

#print(fortune[['name', 'employees',"revenues","profits","marketvalue"]])

#fortune_rate = fortune.loc[:,['name', 'employees', 'revenues', 'profits']]
#print(fortune_rate)

employees = fortune['employees'] > 100000

fortune[employees]

,rank,name,employees,previousrank,revenues,revenuechange,profits,profitschange,assets,"marketvalue,,,"
id,,,,,,,,,,
2,1,Walmart,2300000,1.0,485873,0.8%,"13,643.0",-7.2%,"198,825","218619,"
22,21,J.P. Morgan Chase,243355,23.0,105486,4.4%,"24,733.0",1.2%,"2,490,972",313761
27,26,Bank of America Corp.,208024,26.0,93662,0.7%,"17,906.0",12.7%,"2,187,702",236182
59,58,FedEx,335767,58.0,50365,6.1%,"1,820.0",73.3%,"46,064","52178,"
135,134,Tenet Healthcare,116475,140.0,21070,4.8%,-192.0,0,"24,701","1777,,"
386,385,Darden Restaurants,150942,371.0,6934,-3.2%,375.0,-47.1%,"4,583","10389,,"